/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
  height: 100%;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
  font-size: 1em;
}

input[type="text"]:focus,
input[type="email"]:focus {
  background-color: #781125;
  color: #ece8ea;
  height: 40px;
  font-size: 1.25em;
}

textarea:focus {
  background-color: #ece8ea;
  color: #2c4d42;
  font-size: 1.25em;
  font-weight: bold;
}

input {
  transition: 1s;
}

fieldset {
  border: none;
  font-size: 1em;
  margin: 0;
  padding: 0 0 10px 0;
}

label,
select,
input {
  margin-bottom: 10px;
}

select,
label,
textarea,
input[type="text"],
input[type="email"],
button {
  width: 100%;
  transition: 1s all;
}

input[type="text"],
input[type="email"] {
  height: 30px;
}

textarea {
  height: 100px;
}

button {
  height: 50px;
  background-color: #2c4d42;
  color: #ece8ea;
  margin-top: 10px;
}

button:hover {
  height: 75px;
  background-color: #781125;
  font-size: 1.25em;
  cursor: pointer;
}

label {
  float: left;
  text-align: left;
}

.container{
  text-align: center;
}

.newsletter{
  text-align: right;
}

.survey {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 0;
}

.survey {
  padding: 5px;
}

span {
  display: none;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }

  fieldset {
    font-size: 1.25em;
  }

  .survey {
    padding: 20px 40px 40px;
  }


}
